@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

body {
  background-color: #323031;
  margin: 0;
  font-family: 'Silkscreen', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
